
test/
build/
node_modules/
.idea/
.vscode/
.history
.docz/
.DS_Store
.phpcs.cache
.phpunit.result.cache
php-errors.log
ehthumbs.db
Thumbs.db
.npm
package-lock.json
.sass-cache
.prettierignore
*.zip
*.po
*.po~
*.mo
.history
*.lock
*.log
*.map
